div
    {
        width: 300px;
        background: #EFEFEF;
        text-decoration: line-through;
        text-indent: 20px;
        text-transform: uppercase;
        white-space: nowrap;
        word-spacing: 
    }